body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: arial, sans;
}

li {
  list-style: none;
}

controls {
  position: absolute;
  top: 0;
  z-index: 100;
}

#info {
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
