body {
  margin: 0;
  background-color: black;
}

#game, #ruleIn, #ruleOut {
  cursor: crosshair;
  border: none;
  margin: 0 auto;
}

#game {
  display: block;
}

#controls {
  height: 100;
  width: 200;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  vertical-align:text-top;
}

#arrow {
  vertical-align: 200%;
}