body {
  background-color: black;
}

#gameCanvas, #ruleIn, #ruleOut {
  cursor: crosshair;
  border: none;
  margin: 0 auto;
}

#gameCanvas {
  display: block;
  width: 800px;
  height: 600px;
  margin: 5% auto;
}

#controls {
  height: 100;
  width: 200;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  vertical-align:text-top;
}

#arrow {
  vertical-align: 200%;
}