body {
  font-family: Arial;
}

th, td, input {
  text-align: left;
}

th, #definitions > p {
  padding-left: 0.5em;
}

input, button {
  font-size: 1em;
}

input {
  width: 8em;
  padding: 0.5em;
  border: none;
  border-bottom: solid 1px grey;
}

button {
  border-radius: 3px;
}

#N {
  font-weight: bold;
}
